* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #d6f7ff;
}

.about {
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    outline: 5px solid  #6cbfd4;
    margin-bottom: 30px;
    width: 97%;
    margin-left: 1.5%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: white;
}

.profile_image {
    width: auto;
    height: 60%;
    position: relative;
    left: 25vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

#title_area {
    left: 15vw;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#name_title {
    color: #40a3bd;
    font-family: Arial, sans-serif;
    font-size: 5vw;
   
}

#sub_title{
    color:#126378;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    padding-top: 5px;
    padding-left: 5px;
}

#main_divider{
    height: 0.5vw;
    width: 100%;
    background-color: #126378;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between columns */
    margin: 20px;
}

.project {
    background-color: white;
    height: auto;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px solid #40a3bd;
}

.project:hover {
    transform: scale(1.01); /* Scale up the size on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: Increase shadow size on hover */
    background-color: white;
}

.project-details {
    flex: 1;
    padding-right: 20px;
    background-color: white;
    max-width: 40%;
    margin-top: 2vh;
    font-size: 1vw;
}

.project_title{
    margin-bottom: 20px;
}

.underline{
    height: 0.5vh;
    width: 5vw;
    background-color: #40a3bd;
    margin-bottom: 2vh;
}

.project_description{
    line-height: 1.6;
}

.project-image {
    flex: 1;
    max-width: 50%;
    background-color: white;
    margin-top: 10%;
}
.project-image img {
    width: 100%;
    height: auto;
    border-radius: 10x;
    background-color: white;
}


